$duration: 0.15s;

.button {
  display: inline-block;
  //background-color: #f8b002;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  min-width: 100px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;

  &,
  span {
    color: #fff;
  }

  &:hover {
    background-color: darken(#f8b002, 8%);
  }

  &:active {
    background-color: darken(#f8b002, 12%);
    transform: translateY(1px);
  }

  &Danger {
    background-color: red;
  }
  &Primary {
    background-color: #f8b002;
  }

}