.root {
  margin: 10px 0;
  border: 2px solid rgba(26, 26, 26, 0.1);

  input, select {
    font-size: 16px;
  }
}

.content {
  display: flex;
  align-items: center;
}

.date {
  margin-left: 10px;
  flex-basis: 20%;
  padding: 5px;
}

.dateGroup {
  display: flex;
}

.depart {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  select{
    font-size: 18px;
  }
}

.search {
  margin-left: 10px;
  margin-top: 25px;
  flex-basis: 10%;

  input {
    font-size: 16px;
  }
}

input[type=date] {
  width: 100%;
  height: 35px;
  margin: 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid rgba(26, 26, 26, 0.1);
  border-radius: 3px;
  padding: 0 5px;

  &::-webkit-datetime-edit-month-field {
    color: #000000;
  }
  &::-webkit-datetime-edit-day-field {
    color: #000000;
  }
  &::-webkit-datetime-edit-year-field {
    color: #000000;
  }

  &::-webkit-calendar-picker-indicator {
    &:hover {
      background-color: lighten(#f8b002,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      border-bottom: 1px solid #f8b002;
    }
  }
}

.form {
  border-top: 1px solid rgba(26, 26, 26, 0.1);
  //background-color: rgba(26, 26, 26, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 2fr);

  button {
    width: 30%;
  }
}

.gridItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  align-self: center;

  label {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

.button {
  background-color: #f8b002;
  border-radius: 15px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  &,span {
    color: #fff;
  }

  &:hover {
    background-color: darken(#f8b002, 8%);
  }

  &:active {
    background-color: darken(#f8b002, 12%);
    transform: translateY(1px);
  }
}

.buttonIcon {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: transparent;

  &Left {
    &:active {
      transform: translateX(-2px);
    }
  }
  &Right {
    &:active {
      transform: translateX(2px);
    }
  }
}

