.root {
  margin: 10px 0;
  border: 2px solid rgba(26, 26, 26, 0.1);
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
  grid-gap: 10px;


  @media (max-width: 950px) {
    width: 100%;
    grid-template-columns: auto;
  }

}

.date {
  padding: 5px;
}

.dateGroup {
  //width: 100%
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //padding: 10px;
}

.depart {
  padding: 5px;
}

.search {
  align-self: end;
  justify-self: end;
}

.form {
  border-top: 1px solid rgba(26, 26, 26, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 2fr);

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 2fr);
  }

  button {
    width: 30%;
  }
}

.gridItem {
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  align-self: center;

  label {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

.button {
  background-color: #f8b002;
  border-radius: 15px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  &,span {
    color: #fff;
  }

  &:hover {
    background-color: darken(#f8b002, 8%);
  }

  &:active {
    background-color: darken(#f8b002, 12%);
    transform: translateY(1px);
  }
}

.buttonIcon {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: transparent;

  &Left {
    &:active {
      transform: translateX(-2px);
    }
  }
  &Right {
    &:active {
      transform: translateX(2px);
    }
  }
}

