.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "icon list btn";
  border-bottom: 1px solid rgba(26, 26, 26, 0.1);

  @media (max-width: 550px) {
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "icon list"
    "icon btn";
  }
}

.gridItemIcon {
  align-self: center;
  justify-self: center;
  grid-area: icon;

  img {
    margin-right: 10px;
    max-width: 100px;
    max-height: 100%;
  }

}

.gridItemUl {
  grid-area: list;
  align-self: center;
  justify-self: start;

  ul {
    list-style: none;
    display: flex;

    a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
    }

    li {
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        color: #f8b002;
      }

      &:active {
        color: #f8b002;
      }
    }
  }
}

.gridItemUser {
  grid-area: btn;
  align-self: center;
  justify-self: end;
  margin-right: 5vw;

  @media (max-width: 550px) {
    justify-self: start;
  }
}
